<h1 [style]="'textAlign: center;textTransform: uppercase'">Home page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus eos velit
  porro obcaecati esse! Nobis itaque, doloremque, vero aut dicta eos aperiam cum
  soluta corporis alias, optio provident velit quia fugiat exercitationem atque
  dolores harum voluptates repellendus rem ad perspiciatis reiciendis! Animi,
  vel nesciunt, error, quibusdam ducimus alias nam dicta reiciendis quos
  delectus quia adipisci! Nulla quis perferendis porro recusandae quia iure
  accusantium aperiam eveniet quasi neque. Fugiat minus impedit soluta? Esse
  perferendis, voluptatum recusandae eveniet atque vero dolor veniam totam.
  Earum debitis odio quo quasi, accusamus fugit officia nobis dolorem, voluptate
  eius, dolores nihil nesciunt doloribus reiciendis qui placeat. Porro veniam
  eius molestias, quo, quis adipisci ducimus expedita nihil vero officia est
  suscipit, architecto eligendi mollitia! Perferendis praesentium libero ducimus
  sed repudiandae, maxime deserunt ipsum sequi dolorum corporis dolores, eius
  sapiente, quis asperiores molestiae voluptatibus accusamus quia blanditiis
  quae omnis esse. Consectetur autem vel quasi magnam expedita labore atque
  adipisci, optio cumque. Vitae necessitatibus consequatur et saepe natus soluta
  at praesentium, ab maxime quisquam, nisi perferendis dignissimos eos nulla
  quidem repudiandae. Doloremque, voluptatem eveniet! Fugit consectetur
  accusamus assumenda expedita dignissimos sapiente dolorum, culpa ex voluptate,
  soluta dolor? Saepe molestias illo assumenda dolore sit corporis aut? Deleniti
  ducimus, iste at autem voluptates iusto natus. Dignissimos adipisci libero
  fugit praesentium inventore iure architecto, sit sed dolores dolorem iste.
  Doloremque, iusto illo adipisci quibusdam modi praesentium pariatur vitae
  corporis sed, inventore eius laboriosam nobis neque vero fugit perspiciatis
  dolore esse vel consequuntur aliquam dolorem. Repellendus architecto, id enim
  quaerat dolores minima distinctio rerum animi dignissimos at quidem maiores
  consequuntur esse. Sit laborum similique quas fuga tempore architecto dolorem
  nam voluptatibus voluptatem sequi nobis aut cum voluptatum voluptates facilis
  neque assumenda ad labore ea dolor, nulla tenetur facere mollitia veniam!
  Magnam tenetur dolorem blanditiis obcaecati nisi enim ea, odit, temporibus
  accusantium consectetur pariatur esse? Recusandae optio, laudantium,
  dignissimos quasi repudiandae ab accusantium odio corporis ex, hic facilis
  ipsum ullam iusto minus officiis earum culpa. Libero similique impedit
  accusamus, esse quos, quaerat minima nobis iste rem eos ipsa aliquam cumque
  quia, optio inventore repudiandae. Necessitatibus enim veniam porro unde
  facilis cum nulla, facere natus quia, id voluptates, corrupti culpa odio!
  Incidunt iusto, inventore, atque culpa hic vitae accusamus suscipit obcaecati
  vel exercitationem dolor velit. Explicabo illo temporibus amet qui dolore
  porro sequi labore minus, veniam numquam, vel inventore repudiandae, doloribus
  vitae quidem aspernatur excepturi dignissimos officia. Ad consectetur culpa
  quasi iusto labore asperiores.
</p>
